/* variable color */
:root {
  --orange: #ff5400;
  --gray: #424247;
  --black: #131318;
  --white: #fff;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/* header style */
header {
  margin: 0px 70px;
}
/* navbar style */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}
.logo-and-text {
  display: flex;
}
.logo-and-text img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}
.sharetrip {
  color: var(--orange);
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 16px;
  padding-top: 5px;
}
.sharetrip span {
  color: var(--black);
}
.nav-content {
  display: flex;
  align-items: center;
}
.nav-content li a {
  color: var(--black);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 40px;
}
.nav-content .home a {
  color: var(--orange);
}
.hambarger-menu {
  display: none;
}
.hambarger-menu img {
  width: 24px;
  height: 24px;
  display: none;
}

/* Hero section............................................ */
.hero-image img {
  width: 100%;
  height: 500px;
}
/* gradiant part of hero section......*/
.hero-section {
  position: relative;
}
.hero-shadow {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  position: absolute;
  top: 0;
}

/* hero section content ..............*/
.hero-content {
  color: var(--white);
  position: absolute;
  top: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 100px;
}
.hero-content p {
  font-size: 1.05rem;
  font-weight: 300;
  margin-bottom: 48px;
  padding: 0px 80px;
  line-height: 26px;
  text-align: center;
}

.search-icon {
  width: 24px;
  height: 24px;
}
.headline {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.hero-input-box {
  display: flex;
  flex-direction: row;
}
/* imput box design ........... */
.hero-input-box {
  height: 84px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.hero-input-box input[type='text'] {
  width: 174px;
  height: 52px;
}

/* Responsive design style */
@media screen and (max-width: 576px) {
  /* header style */
  header {
    margin: 20px 20px;
  }

  /* nav style */
  .nav-content {
    display: none;
  }
  .hambarger-menu {
    display: block;
  }
  .hambarger-menu img {
    width: 24px;
    height: 24px;
    display: block;
  }
}
