/* variable color */
:root {
  --orange: #ff5400;
  --gray: #424247;
  --black: #131318;
  --white: #fff;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/* test class */
.box {
  border: 1px solid black;
  background: rgba(3, 13, 3, 0.335);
  margin: 20px;
}
.none {
  display: none;
}

/* header style */
header,
main {
  margin: 0px 70px;
}
/* navbar style */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}
.logo-and-text {
  display: flex;
}
.logo-and-text img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}
.sharetrip {
  color: var(--orange);
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 16px;
  padding-top: 5px;
}
.sharetrip span {
  color: var(--black);
}
.nav-content {
  display: flex;
  align-items: center;
}
.nav-content li a {
  color: var(--black);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 40px;
}
.nav-content .home a {
  color: var(--orange);
}
.hambarger-menu {
  display: none;
}
.hambarger-menu img {
  width: 24px;
  height: 24px;
  display: none;
}

/* Hero section............................................ */
.hero-image img {
  width: 100%;
  height: 500px;
}
/* gradiant part of hero section......*/
.hero-section {
  position: relative;
}
.hero-shadow {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  position: absolute;
  top: 0;
}

/* hero section content ..............*/
.hero-content {
  color: var(--white);
  position: absolute;
  top: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 100px;
}
.hero-content p {
  font-size: 1.05rem;
  font-weight: 300;
  margin-bottom: 48px;
  padding: 0px 80px;
  line-height: 26px;
  text-align: center;
}

.search-icon {
  width: 24px;
  height: 24px;
}
.headline {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.hero-input-box {
  display: flex;
  flex-direction: row;
}
/* imput box design ........... */
.hero-input-box {
  height: 84px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.hero-input-box input[type='text'],
.hero-input-box .search-btn {
  width: 174px;
  height: 52px;
  margin-right: 24px;
  border-radius: 8px;
  border: none;
  padding: 16px;
  background-color: var(--white);
  color: var(--gray);
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
  margin-left: 20px;
}
.hero-input-box .search-btn {
  background-color: var(--orange);
  color: var(--white);
  font-size: 16px;
}

/* .where-1 #lang {
  width: 174px;
  height: 52px;
  margin-right: 20px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background-color: var(--white);
  color: var(--gray);
}
.where-1 #lang select {
  padding-right: 20px;
} */
/* 



*/
/* First section */
.first-section {
  margin-top: 100px;
}
.section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.section-text h3 {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.section-text p,
.section-text ul li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  list-style: disc;
  margin-bottom: 24px;
}
.section-text ul li {
  margin-bottom: 16px;
}
.first-section-btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--orange);
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  color: var(--white);
}
/* 
.
.
.
.
.
.
*/
/* destination section style */
.destination-section {
  margin-top: 100px;
}
.destination-section h1 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination-section p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.maldip {
  grid-area: maldip;
}
.indoneshia {
  grid-area: indoneshia;
}
.srilanka {
  grid-area: srilanka;
}
.north {
  grid-area: north;
}
.kashmir {
  grid-area: kashmir;
}
.bangladesh {
  grid-area: bangladesh;
}
.bandarban {
  grid-area: bandarban;
}
.main-grid {
  position: relative;
}
.grid-section {
  position: absolute;
  z-index: -1;
  display: grid;
  gap: 24px;
  /* grid-template-columns: repeat(2, 0.1fr); */
  /* grid-template-columns: auto;
  grid-template-rows: auto; */

  grid-template-areas:
    'maldip     maldip     maldip     maldip     maldip     maldip    indoneshia indoneshia indoneshia indoneshia indoneshia indoneshia'
    'srilanka   srilanka   srilanka   srilanka   north      north     north      north      north      kashmir    kashmir    kashmir'
    'bangladesh bangladesh bangladesh bangladesh bangladesh bandarban bandarban  bandarban  bandarban  bandarban  bandarban  bandarban';
}
/* linear gradiant of grid */

.black {
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-1 {
  width: 100%;
  height: 300px;
}
.black-2 {
  height: 286px;
  width: 100%;
}
.w1 {
  width: 573px;
}
.w2 {
  width: 374px;
}
.w3 {
  width: 474px;
}
.w4 {
  width: 274px;
}
.w5 {
  width: 473px;
}
.w6 {
  width: 673px;
}
.div-section-gradiant {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  gap: 24px;
  grid-template-areas:
    'maldip     maldip     maldip     maldip     maldip     maldip    indoneshia indoneshia indoneshia indoneshia indoneshia indoneshia'
    'srilanka   srilanka   srilanka   srilanka   north      north     north      north      north      kashmir    kashmir    kashmir'
    'bangladesh bangladesh bangladesh bangladesh bangladesh bandarban bandarban  bandarban  bandarban  bandarban  bandarban  bandarban';
}

/*  choose-factor-section */
.choose-factor-section {
  margin-top: 100px;
}
.choose-factor-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.choose-factor-section > p {
  color: var(--gray);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.hotel {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 2px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  margin-right: 24px;
  box-shadow: 12px 3px 38px 4px rgba(0, 0, 0, 0.1);
}
.service {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(19, 148, 181, 0.2);
  background: rgba(41, 205, 246, 0.181);
  box-shadow: -21px 3px 38px 4px rgba(0, 0, 0, 0.1);
}
.price {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  box-shadow: 12px 3px 38px 4px rgba(0, 0, 0, 0.1);
}
.hotel img,
.service img,
.price img {
  margin: 32px;
  width: 64px;
  height: 64px;
}
.hotel h3,
.service h3,
.price h3 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 32px;
}
.hotel p,
.service p,
.price p {
  margin-left: 32px;
  margin-right: 55px;
}
.row-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 24px;
}
.price-parent {
  display: flex;
  justify-content: center;
}

/* 
.
.
.
*/
/* video section */
.video-section {
  margin-top: 100px;
}
.video-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.video-section-text {
  margin-right: 28px;
  width: 100%;
}
.video-section-text h1 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 800;

  margin-bottom: 24px;
}
.video-section-text p {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.video-section-text ul li {
  list-style-type: disc;
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.video-section-text ul {
  margin-bottom: 32px;
}
.video-section-text button {
  width: 160px;
  height: 45px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 800;
}
.video-section-video {
  width: 100%;
}

.video-section-video iframe {
  width: 100%;
  border-radius: 16px;
  border: none;
  box-shadow: 5px 7px 15px -3px rgba(0, 0, 0, 0.1);
}
/* 
.
.
.
.
 */

/* 
 
 
 <form action="#">
      <label for="lang">Where go</label>
      <select name="languages" id="lang">
       <option value="none"></option>
       <option value="Bangladesh">Bangladesh</option>
       <option value="Bangladesh">Bangladesh</option>
       <option value="Bangladesh">Bangladesh</option>
       <option value="Bangladesh">Bangladesh</option>
      </select>
      <input type="submit" value="Submit" />
</form>*/

/* newsletter section style */
.newsletter-section {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.subscribe {
  /* width: 474px; */
  width: 100%;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.subscribe h3 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--black);
  margin-bottom: 16px;
  margin-left: 40px;
  margin-top: 40px;
}
.subscribe p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray);
  margin-left: 40px;
  margin-bottom: 24px;
  width: 300px;
}
.newsletter-section hr {
  width: 393px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-left: 40px;
  margin-bottom: 24px;
}
.subscribe input,
.subscribe-btn {
  display: block;
  width: 393px;
  /* width: 100%; */
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin-left: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
}
.subscribe-btn {
  margin-top: 24px;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
}

/* newsletter image ...*/
.newletter-img {
  width: 672px;

  height: 422px;
  flex-shrink: 0;
  padding-left: 24px;

  position: relative;
}
/* newly added */
.newletter-img img {
  width: 672px;
  height: 422px;
  flex-shrink: 0;
}

.discount-div {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;

  position: absolute;
  top: 252px;
  left: 360px;
}
.discount-div p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 4px;
}
.discount-div h1 {
  font-weight: 800;
  font-size: 2rem;
}
/* Footer section */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 100px 250px;
  text-align: center;

  background: rgba(19, 19, 24, 0.05);

  margin-top: 100px;
}
.logo-and-text {
  margin-bottom: 15px;
}
.footer-section > p {
  margin-bottom: 33px;
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray);
}
.social-logo {
  margin-bottom: 50px;
}
.footer-section hr {
  width: 872px;
  height: 1px;
  background: var(--gray);
  margin-bottom: 50px;
}
/* 
.
.
.
.
.
.
.
*/
/* Responsive design style */
@media screen and (max-width: 576px) {
  /* header style */
  header,
  main {
    margin: 20px 20px;
  }

  /* nav style */
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
  }
  .nav-content {
    display: none;
  }
  .hambarger-menu {
    display: block;
  }
  .hambarger-menu img {
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 10px;
  }
  .logo-and-text {
    margin-bottom: 0px;
  }

  /* hero section */
  .hero-image img {
    width: 100%;
    height: 483px;
    border-radius: 16px;
  }
  .headline {
    color: var(--white);

    font-size: 1.375rem;

    font-weight: 800;
    margin-bottom: 8px;
  }
  .hero-content {
    padding: 32px 15px;
  }
  .hero-content p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 32px;
    padding: 0px 0px;
    text-align: justify center;
    width: 304px;
    line-height: 21px;
  }
  .hero-input-box {
    display: flex;
    width: 287px;
    height: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  /* imput box design ........... */

  .hero-input-box input[type='text'],
  .hero-input-box .search-btn {
    border-radius: 8px;
    border: none;
    padding: 16px;
    background-color: var(--white);
    color: var(--gray);

    width: 255px;
    height: 52px;
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 255px;
    height: 52px;
    margin-left: 0px;
  }
  .search-btn img {
    padding-right: 5px;
  }
  .hero-input-box .search-btn {
    background-color: var(--orange);
    color: var(--white);
    font-size: 16px;
  }

  /* First section */
  .section-content {
    flex-direction: column;
    margin: 0;
  }
  /* First section */
  .first-section {
    margin-top: 24px;
  }
  .section-text h3 {
    color: var(--black);
    text-align: left;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 16px;
  }
  .section-text p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 0.875rem;

    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style: disc;
    margin-bottom: 16px;
  }

  .section-text ul li {
    color: rgba(19, 19, 24, 0.7);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .section-text ul {
    margin-bottom: 16px;
  }
  .first-section-btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--orange);
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: var(--white);
  }

  .section-img img {
    width: 100%;
  }

  /* destination section style */
  .destination-section {
    margin-top: 24px;
  }
  .destination-section h1 {
    color: #131318;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 24px;
    margin-bottom: 16px;
  }
  .destination-section p {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .grid-section {
    display: flex;
    flex-direction: column;
  }
  .grid-section img {
    width: 100%;
    height: 300px;
  }
  .div-section-gradiant div {
    width: 100%;
    height: 300px;
  }
  .div-section-gradiant {
    display: flex;
    flex-direction: column;
    top: 0;
  }

  /*  choose-factor-section */
  .choose-factor-section {
    margin-top: 24px;
  }
  .choose-factor-section h2 {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .choose-factor-section > p {
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .hotel {
    width: 100%;
    height: 290px;

    margin-right: 0;
    margin-bottom: 16px;
  }
  .service {
    width: 100%;
    height: 290px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .price {
    width: 100%;
    height: 290px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .hotel img,
  .service img,
  .price img {
    margin: 32px;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }
  .hotel h3,
  .service h3,
  .price h3 {
    margin-bottom: 16px;
    font-size: 1.25rem;
    font-weight: 800;
  }
  .hotel p,
  .service p,
  .price p {
    font-size: 0.875rem;
    /* margin-left: 32px;
    margin-right: 55px; */
  }
  .row-1 {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .price-parent {
    display: flex;
    justify-content: center;
  }

  /* video section */
  .video-section {
    margin-top: 24px;
  }
  .video-section-content {
    flex-direction: column;
  }
  .video-section-text {
    margin-right: 0;
    width: 100%;
  }
  .video-section-text h1 {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .video-section-text p {
    font-size: 0.875rem;
    margin-bottom: 16px;
  }
  .video-section-text ul li {
    font-size: 0.875rem;

    margin-bottom: 16px;
  }
  .video-section-text ul {
    margin-bottom: 24px;
  }
  .video-section-text button {
    margin-bottom: 24px;
  }
  .video-section-video iframe {
    width: 100%;
    height: 300px;
  }

  /* newsletter section */

  .newsletter-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
  .subscribe {
    width: 100%;
    height: 353px;
    flex-shrink: 0;
    margin: 24px 0px;
  }
  .subscribe h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .subscribe p {
    font-size: 0.875rem;
    width: 270px;
    margin-bottom: 16px;
  }
  .newsletter-section hr {
    width: 288px;
    height: 1px;
    background: rgba(19, 19, 24, 0.1);

    margin-bottom: 16px;
  }
  .subscribe input,
  .subscribe-btn {
    display: block;
    width: 288px;
    margin-bottom: 16px;
  }
  .subscribe-btn {
    margin-top: 20px;
  }

  /* newsletter image ...*/
  .newletter-img {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
  }
  .newletter-img img {
    /* padding-left: 24px; */

    width: 350px;
    height: 300px;
    flex-shrink: 0;
    /* padding-right: px; */
  }
  .discount-div {
    width: 212px;
    height: 80px;
    left: 170px;
    top: 190px;
  }
  .discount-div p {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 4px;
  }
  .discount-div h1 {
    font-weight: 800;
    font-size: 1.3rem;
  }

  /* Footer section */
  .footer-section {
    padding: 33px 44px;
    margin-top: 24px;
  }
  .logo-and-text {
    margin-bottom: 15px;
  }
  .footer-section > p {
    margin-bottom: 16px;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--gray);
  }
  .social-logo {
    margin-bottom: 16px;
  }
  .footer-section hr {
    width: 335px;
  }
}
